@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

/* For the entire page */
body {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* For Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}


* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.navbar {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 99vw;
  
}

.navLogo{
    font-weight: bolder;
    font-size: xx-large;
    padding-left: 150px;
}

.nav-links{
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
    padding-right: 200px;
}

.home{
    /* background-color:aliceblue;     */
    min-height: 91vh;
    width: 99vw;
}

.home form{
    /* background-color: green; */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-place{
    display: flex;
    gap: 20px;
    /* background-color: blue; */
    padding: 10px    ;
    /* color: white; */
    border: 1px solid black;
    
}

.search-input{
    /* border: solid 1px black;  */
    padding: 5px;
    border: none;
}
.search-input:focus{
    outline: none;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}
.movie-card {
  width: 100%;
  height: 340px;
  background-color: black;
  color: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;

}
.movie-card h3 {
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 4px;
}
.m-year{
  padding-top: 10px;
  font-size: small;
  color: rgb(136, 134, 134);
}
.poster {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* filter: grayscale(100%); */
}

.movie-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fav-btn {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  cursor: pointer;
}

.loading{
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 600px) {

  .navbar {
    padding: 0 20px;
  }

  .navLogo {
    font-size: 24px;
  }

  .nav-links {
    gap: 15px;
  }

  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
  }

  .movie-card {
    padding: 10px;
  }

  .poster img {
    height: 220px;
  }
}




/* Main Layout */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
  background-color: #ffffff;
  overflow: hidden;
  font-family: sans-serif;
}

/* Left Side: Octopus and Stars */
.octopus-wrapper {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -70px;
}

.octopus-image {
  
  max-width: 650px; /* Adjust based on your actual image size */
  object-fit: contain;
  position: relative;
  z-index: 2;
}

/* Star Styles */
.star {
  position: absolute;
  color: red;
  z-index: 10;
}

/* Positioning the stars around the octopus */
.star-1 { top: 10%; left: 15%; font-size: 0.8rem; }
.star-2 { top: 25%; right: 5%; font-size: 1.2rem; }
.star-3 { top: 50%; left: 2%; font-size: 1rem; }
.star-4 { bottom: 25%; right: 15%; font-size: 1.4rem; }
.star-5 { bottom: 10%; left: 30%; font-size: 0.9rem; }
.star-6 { top: 5%; right: 25%; font-size: 1.1rem; }
.star-7 { bottom: 5%; right: 45%; font-size: 1.3rem; }

/* Right Side: Text */
.text-wrapper {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  padding-left: 3rem;
}

.hero-title {
  font-size: 10.5rem;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0;
  letter-spacing: 2px;
  z-index: 1;
  position: relative;
  left: -200px;
}
.explore{
  z-index: 44;
}

/* Responsive adjustments for mobile/tablets */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    padding-top: 4rem;
  }
  
  .octopus-wrapper, .text-wrapper {
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
  
  .hero-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}


.movie-quote {
  position: relative;
  min-height: 520px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgb(5, 0, 0);
  padding: 60px 20px;
  margin-bottom: 20px;
}

/* Background image */



.quote-content {
  position: relative;

  z-index: 5;

  text-align: center;

  max-width: 750px;

  padding: 20px;
}


/* Small heading */

.quote-small {
  font-family: Arial, sans-serif;

  font-size: 12px;

  letter-spacing: 5px;

  color: #888;

  margin-bottom: 22px;
}

.quote-content h2 {
  font-family: "Anton", sans-serif;

  font-size:100px ;
/* clamp(45px, 5vw, 575px) */
  line-height: 0.95;

  font-weight: 700;

  text-transform: uppercase;

  letter-spacing: 1px;

  color: white;

  margin: 0;
}


/* Red part */

.quote-content h2 span {
  color: red;
   font-family: "Anton", sans-serif;

  font-size: 150px;

  line-height: 0.95;

  font-weight: 400;

  text-transform: uppercase;

  letter-spacing: 1px;
  
  z-index: 40;
  position: relative;
  top: -30px;
  left: -40px;

}



.quote-line {
  width: 70px;

  height: 2px;

  background: red;

  margin: 25px auto 18px;
}



.quote-sub {
  color: #777;

  font-family: Arial, sans-serif;

  font-size: 14px;

  letter-spacing: 1px;

  margin: 0;
  margin-top: 30px;
}



.quote-clapper {
   position: absolute;
  z-index: 4;
  width: 430px;
  left: -20px;
  top: 50%;

  transform: translateY(-20%) rotate(-8deg) scaleX(-1);

  transition: transform 0.4s ease;
}


/* Hover */



.quote-chaplin {
  position: absolute;

  z-index: 3;

  width: 460px;

  right: -80px;

  bottom: -80px;

  transform: rotate(-2deg);

  transition:
    transform 0.4s ease;
}


/* Hover */





@media (max-width: 900px) {

  .movie-quote {
    min-height: 500px;
  }


  .quote-clapper {
    width: 300px;

    left: -130px;

    opacity: 0.55;
  }


  .quote-chaplin {
    width: 350px;

    right: -120px;

    opacity: 0.55;
  }


  .quote-content {
    z-index: 10;
  }


  .quote-content h2 {
    font-size: 50px;
  }

}


@media (max-width: 600px) {

  .movie-quote {
    min-height: 430px;

    padding: 40px 15px;
  }


  .quote-clapper {
    width: 230px;

    left: -100px;

    top: 20%;
  }


  .quote-chaplin {
    width: 260px;

    right: -100px;

    bottom: -50px;
  }


  .quote-content {
    padding: 10px;
  }


  .quote-small {
    font-size: 9px;

    letter-spacing: 3px;

    margin-bottom: 18px;
  }


  .quote-content h2 {
    font-size: 36px;

    line-height: 0.95;
  }


  .quote-sub {
    font-size: 11px;
  }


  .quote-line {
    margin: 20px auto 15px;
  }

}

.cinema-footer {
  position: relative;
  min-height: 400px;
  background: #050505;
  color: #fff;
  padding: 70px 8% 30px;
  overflow: hidden;
  border-top: 1px solid #222;
}

/* subtle cinema film strip */
.film-strip {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  opacity: 0.35;
  background: repeating-linear-gradient(
    90deg,
    #555 0px,
    #555 35px,
    transparent 35px,
    transparent 55px
  );
}

.film-strip-top {
  top: 0;
}

/* Main footer */
.footer-content {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

/* Brand */
.footer-brand h2 {
  font-family: Georgia, serif;
  font-size: 34px;
  letter-spacing: 3px;
  margin: 0 0 12px;
}

.footer-brand h2 span {
  color: red;
}

.footer-brand p {
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Links */
.footer-links {
  display: flex;
  gap: 100px;
}

.footer-links h4 {
  font-size: 12px;
  letter-spacing: 3px;
  color: red;
  margin-bottom: 18px;
}

.footer-links a {
  display: block;
  color: #777;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
  transform: translateX(4px);
}

/* Bottom */
.footer-bottom {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;

  max-width: 1100px;
  margin: 80px auto 0;

  padding-top: 20px;
  border-top: 1px solid #222;

  color: #555;
  font-size: 11px;
  letter-spacing: 1px;
}

.film-text {
  color: #777;
  letter-spacing: 4px;
}

/* THE END IMAGE */

.cinema-footer:hover .the-end {
  opacity: 0.42;
  transform: rotate(-3deg) scale(1.03);
}



/* -------------------- */
/* Responsive */
/* -------------------- */

@media (max-width: 800px) {
  .cinema-footer {
    min-height: 500px;
  }

  .footer-content {
    flex-direction: column;
    gap: 45px;
  }

  .footer-links {
    gap: 60px;
  }

  

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 500px) {
  .footer-links {
    gap: 35px;
  }

  .footer-links h4 {
    font-size: 10px;
  }

  .footer-links a {
    font-size: 12px;
  }

  
}